<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TianyiOCPros.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BB5D73F2922000A00053347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB5D75A2922000D00053347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB5D7642922000D00053347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
